<div class="container-fluid">
  <div class="text-center">
    <h1>Powers Test</h1>
  </div>
  <hr />
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 test-left">
        <p class="lead">
          The powers test is a fast-paced speed drill where you are given 2
          minutes to solve as many powers problems as you can.
          <span class="text-danger"
            ><strong>
              Only scores submitted with default settings will count towards the
              Arithmetic Test Leaderboard.</strong
            ></span
          >
        </p>
      </div>
      <div class="col-lg-6 mat-elevation-z5 test">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class=" form-group">
            <div class="checkbox" style="margin-top: 20px;">
              <label
                ><input
                  type="checkbox"
                  id="squares"
                  name="squares"
                  ngModel
                />Squares</label
              >
            </div>
            <p>
              Range: (<input
                type="text"
                id="squaresMin"
                name="squaresMin"
                ngModel
              />
              to
              <input type="text" id="squaresMax" name="squaresMax" ngModel />)^2
            </p>
          </div>
          <hr />
          <div class="form-group">
            <div class="checkbox">
              <label
                ><input
                  type="checkbox"
                  id="cubes"
                  name="cubes"
                  ngModel
                />Cubes</label
              >
            </div>
            <p>
              Range: (<input
                type="text"
                id="cubesMin"
                name="cubesMin"
                ngModel
              />
              to <input type="text" id="cubesMax" name="cubesMax" ngModel />)^3
            </p>
          </div>
          <hr />
          <div class="form-group">
            <div class="checkbox">
              <label
                ><input
                  type="checkbox"
                  id="powers"
                  name="powers"
                  ngModel
                />Powers</label
              >
            </div>
          </div>
          <hr />
          <p>Duration:</p>
          <select class="form-control" id="duration" name="duration" ngModel>
            <option>5 seconds</option>
            <option>30 seconds</option>
            <option>60 seconds</option>
            <option>120 seconds</option>
            <option>300 seconds</option>
            <option>600 seconds</option>
          </select>
          <hr />
          <button
            mat-raised-button
            color="primary"
            type="submit"
            style="margin-bottom: 20px;"
          >
            Start Test
          </button>
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
