<div class="container-fluid">
  <div class="text-center">
    <h1>Arithmetic Test</h1>
  </div>
  <hr />
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 test-left">
        <p class="lead">
          The arithmetic test is a fast-paced speed drill where you are given 2
          minutes to solve as many arithmetic problems as you can.
          <span class="text-danger"
            ><strong>
              Only scores submitted with default settings will count towards the
              Arithmetic Test Leaderboard.</strong
            ></span
          >
        </p>
      </div>
      <div class="col-lg-6 mat-elevation-z5 test">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class=" form-group">
            <div class="checkbox" style="margin-top: 20px;">
              <label
                ><input
                  type="checkbox"
                  id="addition"
                  name="addition"
                  ngModel
                />Addition</label
              >
            </div>
            <p>
              Range: (
              <input
                matInput
                type="text"
                id="addition1Min"
                name="addition1Min"
                ngModel
              />
              to
              <input
                type="text"
                id="addition1Max"
                name="addition1Max"
                ngModel
              />) + (<input
                type="text"
                id="addition2Min"
                name="addition2Min"
                ngModel
              />
              to
              <input
                type="text"
                id="addition2Max"
                name="addition2Max"
                ngModel
              />)
            </p>
          </div>
          <hr />
          <div class="form-group">
            <div class="checkbox">
              <label
                ><input
                  type="checkbox"
                  id="subtraction"
                  name="subtraction"
                  ngModel
                />Subtraction</label
              >
            </div>
            <p>Addition problems in reverse.</p>
          </div>
          <hr />
          <div class="form-group">
            <div class="checkbox">
              <label
                ><input
                  type="checkbox"
                  id="multiplication"
                  name="multiplication"
                  ngModel
                />Multiplication</label
              >
            </div>
            <p>
              Range: (<input
                type="text"
                id="multiplication1Min"
                name="multiplication1Min"
                ngModel
              />
              to
              <input
                type="text"
                id="multiplication1Max"
                name="multiplication1Max"
                ngModel
              />) x (<input
                type="text"
                id="multiplication2Min"
                name="multiplication2Min"
                ngModel
              />
              to
              <input
                type="text"
                id="multiplication2Max"
                name="multiplication2Max"
                ngModel
              />)
            </p>
          </div>
          <hr />
          <div class="form-group">
            <div class="checkbox">
              <label
                ><input
                  type="checkbox"
                  id="division"
                  name="division"
                  ngModel
                />Division</label
              >
            </div>
            <p>Multiplication problems but in reverse.</p>
          </div>
          <hr />
          <p>Duration:</p>
          <select class="form-control" id="duration" name="duration" ngModel>
            <option>5 seconds</option>
            <option>30 seconds</option>
            <option>60 seconds</option>
            <option>120 seconds</option>
            <option>300 seconds</option>
            <option>600 seconds</option>
          </select>
          <hr />
          <button
            mat-raised-button
            color="primary"
            type="submit"
            style="margin-bottom: 20px;"
          >
            Start Test
          </button>
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
