<div class="jumbotron">
    <h2>Welcome To Quick Maths</h2>
    <p>Quick Maths enables you to strengthen your mental math skills, be it through the Arithmetic Test, Powers Test, or Number Sense Test.</p>
    
    <h3>Arithmetic Test</h3>
    <p>The arithmetic test consists of <b>addition, subtraction, multiplication, and division problems.</b></p>
    
    <h3>Powers Test</h3>
    <p>The powers test consists of <b>squares, cubes, and powers</b> that frequently show up on UIL Number Sense tests.</p>
    
    <h3>Number Sense Test</h3>
    <p>The number sense test is a <b>dynamically generated UIL Number Sense test</b>, pulling topics from around 150 different types of questions which frequently appear on the real tests</p>
</div>
