<div class="landing-text">
  <h1>QUICK MATHS</h1>
  <h3>Number sense made easy.</h3>
  <button mat-raised-button color="accent">Get Started</button>
</div>

<div class="container-fluid">
  <div class="row mat-elevation-z7 card">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 card-header">
      <h2>Get Started With Quick Maths</h2>
      <p class="card-lead">
        Take mental math to the next level with arithmetic, powers, and number
        sense tests designed for all levels of expertise.
      </p>
    </div>
    <div
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
      style="text-align: center;"
    >
      <h2>Arithmetic Test</h2>
      <img src="assets/arithmetic-card.png" class="card-image" />
      <p class="card-lead" style="font-size: 17px;">
        Solve as many <strong>arithmetic</strong> problems as you can in 2
        minutes.
      </p>
      <button
        routerLink="/arithmetic"
        mat-raised-button
        color="accent"
        style="margin-top: 20px;"
      >
        Take An Arithmetic Test
      </button>
    </div>
    <div
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
      style="text-align: center;"
    >
      <h2>Powers Test</h2>
      <img src="assets/powers-card.png" class="card-image" />
      <p class="card-lead" style="font-size: 17px;">
        Solve as many
        <strong>squares, cubes, and miscellaneous powers</strong> problems as
        you can in 2 minutes.
      </p>
      <button
        routerLink="/powers"
        mat-raised-button
        color="accent"
        style="margin-top: 20px;"
      >
        Take A Powers Test
      </button>
    </div>

    <div
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
      style="text-align: center;"
    >
      <h2>Number Sense Test</h2>
      <img src="assets/number-sense-card.png" class="card-image" />
      <p class="card-lead" style="font-size: 17px;">
        Answer 80 problems ranging from
        <strong>simple arithmetic to calculus</strong> in 10 minutes.
      </p>
      <button
        routerLink="/number-sense"
        mat-raised-button
        color="accent"
        style="margin-top: 20px;"
      >
        Take A Number Sense Test
      </button>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="mat-elevation-z7">
        <mat-card-title>Arithmetic Test</mat-card-title>
        <mat-card-content
          ><p class="lead">
            A fast-paced speed drill where you are given 2 minutes to solve as
            many arithmetic problems as you can.
          </p></mat-card-content
        >
        <mat-card-actions>
          <button routerLink="/arithmetic" mat-raised-button color="primary">
            Take an Arithmetic Test
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="mat-elevation-z7">
        <mat-card-title>Powers Test</mat-card-title>
        <mat-card-content
          ><p class="lead">
            A fast-paced speed drill where you are given 2 minutes to solve as
            many squares, cubes, and miscellaneous powers problems as you can.
          </p></mat-card-content
        >
        <mat-card-actions>
          <button routerLink="/powers" mat-raised-button color="primary">
            Take a Powers Test
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <mat-card class="mat-elevation-z7">
        <mat-card-title>Number Sense Test</mat-card-title>
        <mat-card-content
          ><p class="lead">
            An 80 question, 10 minute test in the style of the UIL Number Sense
            Test comprised of various mental math problems ranging from simple
            arithmetic to basic calculus.
          </p></mat-card-content
        >
        <mat-card-actions>
          <button routerLink="/number-sense" mat-raised-button color="primary">
            Take a Number Sense Test
          </button>
        </mat-card-actions>
      </mat-card> -->
    <!-- </div> -->
  </div>
</div>

<div class="jumbotron" style="margin-top: 15px;">
  <h2>Welcome To Quick Maths</h2>
  <p>
    Quick Maths enables you to strengthen your mental math skills, be it through
    the Arithmetic Test, Powers Test, or Number Sense Test.
  </p>

  <h3>Arithmetic Test</h3>
  <p>
    The arithmetic test consists of
    <b>addition, subtraction, multiplication, and division problems.</b>
  </p>

  <h3>Powers Test</h3>
  <p>
    The powers test consists of <b>squares, cubes, and powers</b> that
    frequently show up on UIL Number Sense tests.
  </p>

  <h3>Number Sense Test</h3>
  <p>
    The number sense test is a
    <b>dynamically generated UIL Number Sense test</b>, pulling topics from
    around 150 different types of questions which frequently appear on the real
    tests
  </p>
</div>
