#home {
  padding-top: 230px;
  padding-bottom: 230px;
  background: url(src/assets/background.png) no-repeat center center fixed;
  filter: contrast(110%);
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
}

.landing-text {
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 5em;
  font-weight: 700;
}

.landing-text h3 {
  font-size: 2em;
  font-weight: 400;
}

.landing-text button {
  margin-top: 25px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 7px;
  margin: 75px 150px 75px 150px;
}

.cards {
  margin: 50px 150px 50px 150px;
}
.cards mat-card {
  border-radius: 7px;
  margin: 25px 0px 25px 0px;
}
.cards p {
  text-align: left;
}

@media (max-width: 1450px) {
  .card {
    margin-left: 75px;
    margin-right: 75px;
  }

  .cards {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 875px) {
  .card {
    margin-left: 43px;
    margin-right: 43px;
  }

  .cards {
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media (max-width: 750px) {
  .card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .cards {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 450px) {
  .card {
    margin-left: 0px;
    margin-right: 0px;
  }

  .cards {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 40px;
  margin-top: 15px;
}

.card-lead {
  font-size: 30;
  margin-top: 20px;
}

.card-header {
  text-align: left;
  font-size: 20px;
}

.leaderboard-img {
  max-height: 300px;
}

.leaderboard-p {
  font-size: 30px;
}
