<div id="home">
  <div class="landing-text">
    <h1>QUICK MATHS</h1>
    <h3>Number sense, made easy.</h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center  mat-elevation-z7 card">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 card-header">
      <h2>Get Started With Quick Maths</h2>
      <p class="card-lead">
        Take mental math to the next level with arithmetic, powers, and number
        sense tests designed for all levels of expertise.
      </p>
    </div>
    <div
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
      style="text-align: center;"
    >
      <h2>Arithmetic Test</h2>
      <img src="assets/arithmetic-card.png" class="card-image" />
      <p class="card-lead" style="font-size: 17px;">
        Solve as many <strong>arithmetic</strong> problems as you can in 2
        minutes.
      </p>
      <button
        routerLink="/arithmetic"
        mat-raised-button
        color="accent"
        style="margin-top: 20px;"
      >
        Take An Arithmetic Test
      </button>
    </div>
    <div
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
      style="text-align: center;"
    >
      <h2>Powers Test</h2>
      <img src="assets/powers-card.png" class="card-image" />
      <p class="card-lead" style="font-size: 17px;">
        Solve as many
        <strong>squares, cubes, and miscellaneous powers</strong> problems as
        you can in 2 minutes.
      </p>
      <button
        routerLink="/powers"
        mat-raised-button
        color="accent"
        style="margin-top: 20px;"
      >
        Take A Powers Test
      </button>
    </div>

    <div
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
      style="text-align: center;"
    >
      <h2>Number Sense Test</h2>
      <img src="assets/number-sense-card.png" class="card-image" />
      <p class="card-lead" style="font-size: 17px;">
        Answer 80 problems ranging from
        <strong>simple arithmetic to calculus</strong> in 10 minutes.
      </p>
      <button
        routerLink="/number-sense"
        mat-raised-button
        color="accent"
        style="margin-top: 20px;"
      >
        Take A Number Sense Test
      </button>
    </div>
  </div>
  <div class="text-center">
    <h2 style="color: #7a7a7a">
      Tests Are Made As <strong>Accurate</strong> and <strong>Useful</strong> as
      Possible
    </h2>
    <div class="row cards">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-card class="mat-elevation-z5">
          <mat-card-title
            ><span class="glyphicon glyphicon-ok"></span> Over 500+ Question
            Types</mat-card-title
          >
          <hr />
          <mat-card-content
            ><p class="lead" style="text-align: left;">
              The Number Sense Test is made using randomly selected questions
              from over 500 different types which frequently appear on the UIL
              Number Sense Test, enabling users to practice their number sense
              skills in
              <strong>
                an environment which simulates that of taking the real UIL
                Number Sense Test.</strong
              >
            </p></mat-card-content
          >
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-card class="mat-elevation-z5">
          <mat-card-title
            ><span class="glyphicon glyphicon-ok"></span> Customizable
            Tests</mat-card-title
          >
          <hr />
          <mat-card-content
            ><p class="lead">
              By allowing users to set constraints on the types of questions and
              duration they will take a test, users can practice the types of
              questions they struggle with. This customization provides for a
              learning experience
              <strong>
                suited for individuals of all levels of expertise.</strong
              >
            </p></mat-card-content
          >
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <mat-card class="mat-elevation-z5">
          <mat-card-title
            ><span class="glyphicon glyphicon-ok"></span> Fast-Paced Test
            Taking</mat-card-title
          >
          <hr />
          <mat-card-content
            ><p class="lead">
              When users take either an arithmetic or powers test, as soon as
              the user enters in the right answer, the next question is
              displayed. Traditionally, the user has to press enter after
              solving a problem in order to validate it, but this approach
              allows for
              <strong
                >fast-paced test taking to keep up with the pace of the user's
                brain.</strong
              >
            </p></mat-card-content
          >
        </mat-card>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h2 style="color: #7a7a7a">
      Leaderboards
    </h2>
    <h2 class="lead">A Better Way To Track Your Progress</h2>
    <p style="font-size: 18px;">
      Leaderboards allow users to stay track their progress over time and
      <strong>stay motivated to learn.</strong>
    </p>
    <mat-menu #leaderboardMenu="matMenu">
      <button mat-menu-item routerLink="/leaderboard/arithmetic">
        Arithmetic Leaderboard
      </button>
      <button mat-menu-item routerLink="/leaderboard/powers">
        Powers Leaderboard
      </button>
      <button mat-menu-item routerLink="/leaderboard/number-sense">
        Number Sense Leaderboard
      </button>
    </mat-menu>

    <button
      mat-raised-button
      color="accent"
      [matMenuTriggerFor]="leaderboardMenu"
    >
      View Leaderboards
    </button>
  </div>
</div>
